@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

/* Variables */
:root {
  --bg-light: #f8eafa;
  --bg-dark: #2a2139;
  --text-light: #111;
  --text-dark: #fff;
  --card-light: #ffc2f9;
  --card-dark: #3c2a4d;
  --button-light: #ba68c8;
  --button-dark: #ce93d8;
}

body {
  font-family: "Vazirmatn", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
  user-select: none;
}

.text-dir-rtl {
  direction: rtl;
  text-align: right;
}

.text-dir-ltr {
  direction: ltr;
  text-align: left;
}


.container {
  padding: 28px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 90%;
  max-width: 350px;
  transition: background 0.3s, color 0.3s;
}

select, button {
  padding: 8px 12px;
  font-size: 1rem;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}


#choose-avatar-text {
  font-size: 1.1rem;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.avatar {
  transition: all .2s ease;
  font-size: 1.4rem;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.3);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.clear-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 8px;
  flex-direction: column;
  margin-top: 8px;
}

.clear-btns button {
  margin-top: 0;
}

#local-clear, #session-clear {
  background: tomato;
}

#local-clear:hover, #session-clear:hover {
  background: #dc143c;
}

button {
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Vazirmatn", sans-serif;
}

.top-bar {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.top-bar .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-left: 1rem;
}

#language {
  width: max-content;
  background: #ce93d8;
  color: #3c2a4d;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1.1rem;
}

.mode-toggle {
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: 2px solid currentColor;
  border-radius: 20px;
  padding: 5px 10px;
}

.colors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

#color-picker {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; 
  flex-wrap: wrap; 
  max-width: 220px;
}

.colors-save-btns {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.colors-save-btns button {
  margin-top: 0;
}

.guide-text-container-en {
  position: absolute;
  top: 100px;
  left: 80px;
  width: 350px;
  display: block;
}

.guide-text-container-fa {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 350px;
  direction: rtl;
  display: none;
}


.guide-text {
  font-size: 1rem;
  line-height: 26px;
  color: #737373;
}

/* Light Theme */
body.light {
  background: var(--bg-light);
  color: var(--text-light);
}

.light .container {
  background: var(--card-light);
  color: var(--text-light);
}

.light #choose-avatar-text {
  color: #fff;
}

.light button {
  background: var(--button-light);
  color: white;
}

.light button:hover {
  background-color: #9c27b0;
}

/* Dark Theme */
body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

.dark .container {
  background: var(--card-dark);
  color: var(--text-dark);
}

.light #choose-avatar-text {
  color: #000;
}

.dark input::placeholder {
  color: #ddd;
}

.dark button {
  background: var(--button-dark);
  color: black;
}

.dark button:hover {
  background-color: #e1bee7;
}


/* Responsive */
@media (max-width: 1200px) {
  .guide-text-container-en, .guide-text-container-fa {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 60%;
  }

  .colors-container {
    flex-direction: column;
    gap: 12px;
  }

  #color-picker {
    width: 90%;
  }
}